<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SpecialSQLMapper">


    <!--    mapper接口中的全类名和映射文件的namespace一致-->
    <!--    mapper接口中的方法名跟id一致-->

        <select id="getUserByLike" resultType="User">
                select * from t_user where username like '%${mohu}%'
        </select>
</mapper>
